{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-gray-300">
    <!-- Navbar -->
<nav class="bg-[#384B70] p-4">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Left side -->
      <div class="flex space-x-4">
        <a href="{% url 'Home_page' %}" class="text-lg font-semibold text-white hover:text-gray-300">Home</a>
        <a href="{% url 'post_list' %}" class="text-lg font-semibold text-white hover:text-gray-300">Post</a>
      </div>
  
      <!-- Right Buttons -->
      <div class="flex space-x-4">
        {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'Logout' %}" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="rounded-md bg-white px-4 py-2 font-semibold text-[#384B70] hover:bg-gray-100">
              Logout
          </button>
        <a href="{%url 'User_Profile' %}" class="rounded-md bg-[#384B70] px-4 py-2 font-semibold text-white hover:bg-[#384B70]"> Profile </a>

      </form>
      
        {% else %}
        <a href="{%url 'Sign_Up' %}" class="rounded-md bg-white px-4 py-2 font-semibold text-[#384B70] hover:bg-gray-100"> Sign Up </a>
        <a href="{%url 'Login' %}" class="rounded-md bg-[#384B70] px-4 py-2 font-semibold text-white hover:bg-[#384B70]"> Login </a>
        {% endif %}
      </div>
    </div>
  </nav>

  
  {% block content %}
  {% include 'info.html' %}
    {% endblock content %}
</body>

</html